<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="entity.Patient" alias="Patient"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@193.6.5.58:1521"/>
                <property name="username" value="L21_KS14RL"/>
                <property name="password" value="L21_KS14RL"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="config/PatientMapper.xml"/>
    </mappers>
</configuration>